<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase /

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*) index.php

    #RewriteCond %{REQUEST_FILENAME} -f
    #RewriteRule ^ - [L]

    #RewriteRule ^ %{ENV:BASE}/index.php [L]
</IfModule>
